extends layout

block content
  h2 #{hits.length} results for "#{query}"
  table(class="table table-hover table-striped")
    tr
      th #
      th score
      th name
    - var i = 0
    each hit in hits
      - i++
      tr
        td= i
        td= hit._score
        td
          a(href="/church?id="+hit._id)= hit._source.name
